@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1440px;
}

.primary-btn {
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
}

.primary-paragraph {
    color: #727272;
    text-align: center;
    margin-bottom: 32px;
    line-height: 25px;
}

.line-brake {
    display: block;
}



/* header style ----------------------- */

header {
    background-color: #FFF4E7;
}

.header-section {
    display: flex;
    justify-content: center;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

nav.nav h1 {
    font-size: 45px;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    margin-right: 50px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}


/* Banner section style -------------------- */

.banner-headline {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 100px;
}

.banner-headline h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 45px;
}

.banner-img img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 70px;
    margin-bottom: 45px;
}


/* Main section style ------------------------- */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Feature section style ---------------------- */

.features {
    display: flex;
    align-items: center;
    margin-top: 85px;
}

.features-gellary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.features-gellary .feature img {
    width: 342px;
    object-fit: cover;
    border-radius: 8px;
}

.features-headline {
    margin-left: 76px;
}

.features-headline h1 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;
} 

/* Love & enjoy section style ------------------------------ */

.love-enjoy {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 146px;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles h1 {
    font-size: 45px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
    padding-left: 21px;
}

article {
     padding: 30px 42px 30px 30px;
     border-radius: 8px;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
     margin-bottom: 20px;
}

article h4 {
    font-size: 20px;
    color: #131313;
    font-weight: 600;
    margin-bottom: 10px;
}

article p {
    line-height: 26px;
    color: #727272;
   
}

.love-enjoy-img img {
    width: 100%;
    height: 942px;
    object-fit: cover;
    border-radius: 30px;
}

.experience-btn button {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 45px 42px;

    position: relative;
    left: 105%;
    bottom: 75%;
}

.experience-btn button p {
    
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}

/* some facts section style --------------------------- */

.some-facts {
    margin-bottom: 180px;
}

.some-facts h1 {
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.facts {
    display: flex;
    gap: 124px;
    justify-content: center;
    margin-top: 100px;
}

.fact {
    text-align: center;
    padding: 45px 35px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all .5s ease;
}

.fact:hover {
    transform: scale(1.1);
    border: 1.5px solid #ff0808;
}

.fact img {
    width: 45px;
    margin-bottom: 5px;
}

.fact h2 {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}

.fact h4 {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}

/* our sponsors section style -------------- */

.our-sponsors h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 24px;
}

.sponsor-icons {
    display: flex;
    column-gap: 155px;
    margin-top: 50px;
}


/* footer section style -----------------------*/

footer {
    margin: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {

    background-color: #FFF4E7;
    border-radius: 8px;
}

.copyright p {
    text-align: center;
    font-size: 20px;
    color: #424242 ;
    padding: 40px 20px;
}